<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main">
      <%- include('partials/nav')%>
        <div class="content">
            <div class="textbox">

                <h1>Connect With Us</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus labore magni debitis sunt molestiae soluta, ipsam fugit praesentium .
               </p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus labore magni debitis sunt molestiae soluta, ipsam fugit praesentium alias vero.
               </p>
       
            </div>
            <div class="image-box">
                <img src="/images/contact-us.png" alt="">
            </div>
     
    </div>
    <%- include('partials/footer')%>



</body>
</html>