<nav>
    <div class="logo"><img src="/images/education.png" alt=""> <h1>EduQuest</h1></div>
    <div class="right">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a>
        <a href="/user/register">Register</a>
        <a href="/user/login">Login</a>
       
    </div>
</nav>