<nav>
    <div class="logo"><img src="/images/education.png" alt=""> <h1>EduQuest</h1></div>
    <div class="right">
        <a href="/user/dashboard">Dashboard</a>
        <a href="/user/mycourses">My Courses</a>
        <a href="/user/profile">Profile</a>
        <a href="/user/logout">Logout</a>
       
    </div>
</nav>